# Test result

These are the results of the test of the previous prototype

## Results

### Questionnaire answers

Here are the unfiltered test results. These contain some testers who were unable to complete the game, but still filled in the questionnaire. These people have filled in their name at some point

{% file src="../.gitbook/assets/TweeKracht Energy Game Prototype.csv" %}

### Test report

Here is a test report, writing down the methodology and conclusion&#x20;

{% file src="../.gitbook/assets/Test results.pdf" %}

## Conclusion

While initially the results were thought to be inaccurate, this test actually proves the opposite. But people still aren't engaged in the app and are quickly bored.

<figure><img src="../.gitbook/assets/image (36).png" alt=""><figcaption></figcaption></figure>

This boredom seems to stem mostly from confusion, most people don't think the goal of the game was clear.

<figure><img src="../.gitbook/assets/image (37).png" alt=""><figcaption></figcaption></figure>

<figure><img src="../.gitbook/assets/image (38).png" alt=""><figcaption></figcaption></figure>

A lot of people also had issues with getting into the ideal world and with the "hard and soft" side.

These are the biggest issues with the game that we will fix

## The next step

The next step is to design concepts that will improve these issues. These will then be tested, and an optimal solution will come out
